.intro {
  padding-bottom: 50px;
  color: $blue;
}

.intro-name {
  font: 400 2.6rem $Montserrat;
}

.intro-title,
.intro-summary {
  margin-bottom: 50px;
}

.intro-title {
  font: 300 2.6rem $Montserrat;
}

.intro-summary {
  font: 300 2.4rem $Montserrat;

  @include mq-min($tablet) {
    max-width: 75%;
  }
}

.intro-link {
  border-bottom: 1px solid $light-blue;

  font-family: $Lato;
  font-weight: 300;
  color: $light-blue;
}