.resume {
  color: $blue;
}

.resume-name {
  font-size: 3.8rem;
}

.resume-name-role {
  margin-bottom: 45px;

  font-weight: 700;
  font-size: 2.4rem;
}

.resume-block {
  margin-bottom: 30px;
}

.resume-title {
  margin-bottom: 15px;

  font: 400 1.7rem $Lato;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: $light-blue;
}

.resume-role {
  font-family: $Lato;
  font-weight: 700;
}

.resume-company,
.resume-date {
  font-family: $Lato;
  font-weight: 300;
}

.resume-date {
  margin-bottom: 10px;
}

.resume-list {
  font-family: $Lato;
  font-weight: 300;
  line-height: 1.5;
  padding-left: 20px;
  list-style-type: disc;

  &.mod-no-list-style {
    font-family: $Montserrat;
    padding-left: 0;
    list-style-type: none;
  }
}
